
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new psot: <%= @post.post_name %>!</p>
    <p>
    Order details<br>
    --------------------------
    Message:<br>
    ----------
    </p>
  </body>
</html>